﻿@model IEnumerable<Staff.Models.Character> 

@{ 
    ViewData["Title"] = "Characters";
    Layout = "_Layout";
}

<h2>Characters</h2>

<p>
    <a asp-action="Create">New Character</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                HP
            </th>
            <th>
                MP
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var character in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => character.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => character.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => character.CurrentHP) / @Html.DisplayFor(modelItem => character.MaximumHP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => character.CurrentMP) / @Html.DisplayFor(modelItem => character.MaximumMP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => character.Instrument)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@character.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@character.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@character.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
